{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "double"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true,
    "modules": true,
    "classes": true,
    "destructuring": true,
    "blockBindings": true,
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
