xscreensaver.Dialog.headingFont:        -*-dejavu sans-bold-r-*--12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dejavu sans-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dejavu sans-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dejavu sans-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dejavu sans-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dejavu sans-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dejavu sans-bold-r-*-*-12-*-*-*-*-*-*-*

xscreensaver.splash: false

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

! URXVT CONFIGURATION !

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
!Xft.dpi: 96
!Xft.dpi: 92
Xft.rgba: rgb

! Disable unicode pasting mode that I dont understand
URxvt.iso14755_52: false

URxvt.depth: 32
URxvt.letterSpace: -1

!-*- Perl extensions -*-

URxvt.perl-ext-common: default,clipboard,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold

! Comment this if you dont want copy when text is selected
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.clipboard.autocopy: true

URxvt.font: xft:Iosevka Term:style=medium:size=13
URxvt.boldFont: xft:Iosevka Term:style=bold:size=13
URxvt.italicFont: xft:Iosevka Term:style=italic:size=13
URxvt.boldItalicFont: xft:Iosevka Term:style=medium:size=13

URxvt.keysym.M-C-1:command:\033]710;xft:Iosevka Term:style=medium:size=11\007
URxvt.keysym.M-C-2:command:\033]710;xft:Iosevka Term:style=medium:size=12\007
URxvt.keysym.M-C-3:command:\033]710;xft:Iosevka Term:style=medium:size=13\007
URxvt.keysym.M-C-4:command:\033]710;xft:Iosevka Term:style=medium:size=14\007
URxvt.keysym.M-C-5:command:\033]710;xft:Iosevka Term:style=medium:size=15\007
URxvt.keysym.M-C-6:command:\033]710;xft:Iosevka Term:style=medium:size=16\007
URxvt.keysym.M-C-7:command:\033]710;xft:Iosevka Term:style=medium:size=17\007
URxvt.keysym.M-C-8:command:\033]710;xft:Iosevka Term:style=medium:size=18\007
URxvt.keysym.M-C-9:command:\033]710;xft:Iosevka Term:style=medium:size=19\007

URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt

! Colors
URxvt*background: #000000
URxvt*foreground: #B2B2B2
! black
URxvt*color0:  #000000
URxvt*color8:  #686868
! red
URxvt*color1:  #B21818
URxvt*color9:  #FF5454
! green
URxvt*color2:  #18B218
URxvt*color10: #54FF54
! yellow
URxvt*color3:  #B26818
URxvt*color11: #FFFF54
! blue
URxvt*color4:  #1818B2
URxvt*color12: #5454FF
! purple
URxvt*color5:  #B218B2
URxvt*color13: #FF54FF
! cyan
URxvt*color6:  #18B2B2
URxvt*color14: #54FFFF
! white
URxvt*color7:  #B2B2B2
URxvt*color15: #FFFFFF
