[main]
ConnectSftp = alt-s

[panel]
Search = ctrl-s; ?
Down = down; h
Up = up; t
CdParentSmart = backspace
MarkUp = shift-t
MarkDown = shift-h
PageUp = pgup; alt-v; ctrl-b
PageDown = pgdn; ctrl-v; ctrl-f
Top = alt-lt; home; a1; g
Bottom = alt-gt; end; c1; G

[listbox]
Down = down; h
Up = up; t

[tree]
Down = down; h
Up = up; t

[help]
Down = down; h
Up = up; t

[viewer]
Down = down; h
Up = up; t

[diffviewer]
Down = down; h
Up = up; t

[dialog]
Up = left; up; t
Down = right; down; h
Cancel = f10; esc; ctrl-g; ctrl-c

[listbox]
Up = up; ctrl-p; t
Down = down; ctrl-n; h

[tree]
Up = up; ctrl-p; t
Down = down; ctrl-n; h

[viewer]
Up = k; y; insert; up; ctrl-p; t
Down = j; e; delete; down; enter; ctrl-n; h
Quit = f3; f10; q; esc; ctrl-c

[viewer:hex]
Up = k; y; up; t
Down = j; delete; down; h
Quit = f3; f10; q; esc; ctrl-c

[diffviewer]
Up = k; y; up; t
Down = j; delete; down; h
Quit = f3; f10; q; esc; ctrl-c

[help]
Quit = f10; esc; ctrl-c
